* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 980px;
    height: auto;
    margin: auto;
}

.flex-container .child {
    width: 50%;
    padding: 23px;
}

.flex-container .child-1 {
    font-size: 30px;
}

.flex-container .child-2 b {
    margin: 20px;
}

.flex-container {

    background-color: brown;

    display: flex;

    flex-direction: row;



    align-items: center;
    flex-wrap: wrap;
    padding-left: 85px;
}

.conten {
    background-color: aqua;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flex-conten {
    display: flex;
    align-items: center;
}

.conten img {
    width: 100px;
    height: 100px;
    border-radius: 50%;


}

.noi1 {
    width: 80px;
    height: 3px;
    background-color: #fff;
}

.noisao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.folftfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

#noimau {
    background-color: black;
    color: black;
}

.hinh1 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 67px;

    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    margin: auto;
    margin-top: 20px;
}

.anh {
    width: 150px;
    height: 154px;

}

.contenb {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-items: center;
    background-color: aqua;
    margin-top: 25px;
    padding-top: 30px;
}

a {
    border: 3px solid #fff;
    font-size: 20px;
    border-radius: 30px;
    padding: 11px;
    margin-bottom: 41px;
    text-decoration: none;
}

.noidung {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-items: center;
    margin: 60px;
}

#nenwhite {
    background-color: #fff;
}

.fom {
    width: 600px;
    margin: auto;
}

.button1 {
    margin: 15px;
    font-size: 30px;
    background-color: aqua;
    color: #fff;
    border-radius: 10px;
}

.phancuoi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 126px;
    margin-top: 30px;
    margin-left: 120px;
    text-align: center;


}

.baoquanh {
    background-color: rgb(84, 84, 84);
    height: 120px;
    padding-top: 2px;
}

.chan {
    height: 55px;
    text-align: center;
    font-size: 20px;
    padding-top: 12px;
    background-color: rgb(100, 91, 91);
    color: #fff;
}